.ingredients_section {
	display: grid;
	max-width: 600px;
	width: 600px;
	align-self: center;
	justify-self: end;
}

.categories_container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 70vh;
}


.categories_section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0px 24px;
}
